# Any DB in SQLite may also contain personal info.
sqlite/*.db

# Not Jupyter notebook artifacts
*.ipynb_checkpoints/

# Exclude virtualenv
venv/

# Exclude setup.py installs
*.egg-info/
__pycache__/

data/