# Don't include raw downloads from my turn, which personal information like addresses and names.
**/input_with_personal_info/*
# Exclude any script outputs with personal info
**/output_with_personal_info/*

# Any DB in SQLite may also contain personal info.
sqlite/*.db

# Not Jupyter notebook artifacts
*.ipynb_checkpoints/
