[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
nbconvert = {extras = ["pdf", "webpdf"], version = "*"}
requests = "*"
click = "*"
myturn-bot = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"
